{% extends "layout" %}

{% block content %}

    {# landing__contact #}
	<div class="landing__contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
                    {% if entry.contactTitle is defined and entry.contactTitle != '' %}
					<h1 class="contact__headline">
                        {{ entry.contactTitle }}
					</h1>
                    {% endif %}

                    {% if contacts.businessName is defined and contacts.businessName != '' %}
					<strong>{{ contacts.businessName }}</strong>
                    {% endif %}

                    {% if contacts.address is defined and contacts.address != '' %}
					<address>{{ contacts.address }}</address>
                    {% endif %}

                    {% if contacts.phoneNumber is defined and contacts.phoneNumber != '' %}
					<p>Tel: <a href="tel:{{ contacts.phoneNumber|replace(' ','') }}">{{ contacts.phoneNumber }}</a></p>
                    {% endif %}

                    {% if contacts.email is defined and contacts.email != '' %}
					<p>Email: <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>
                    {% endif %}
				</div>

				<div class="col-lg-6">
					<form class="contact__form" method="post" accept-charset="UTF-8" data-toggle="validator" role="form">
						{{ csrfInput() }}
						<input type="hidden" name="action" value="core/default/sendcontactform">

						<div class="form-row">
							<div class="form-group col-md-6">
							    <label for="name">Name</label>
							    <input type="text" class="form-control" name="message[name]" id="name" placeholder="Name">
						    </div>
						    <div class="form-group col-md-6">
							    <label for="last_name">Last name</label>
							    <input type="text" class="form-control" name="message[lastname]" id="last_name" placeholder="Last name">
						    </div>
					    </div>

					    <div class="form-row">
							<div class="form-group col-md-6">
							    <label for="email">Email</label>
							    <input type="email" class="form-control" name="message[email]" id="email" placeholder="example@email.co.uk">
						    </div>
						    <div class="form-group col-md-6">
							    <label for="phone">Phone</label>
							    <input type="number" class="form-control" name="message[phone]" id="phone" placeholder="0xxxxxxxxxx">
						    </div>
					    </div>

						<div class="form-row">
							<div class="form-group col-md-12">
							    <label for="topic">Topic</label>
							    <input type="text" class="form-control" name="message[topic]" id="topic">
						    </div>
						</div>

					    <div class="form-row">
							<div class="form-group col-md-12">
							    <label for="message">Message</label>
							    <textarea class="form-control" name="message[body]" id="message" rows="3"></textarea>
							</div>
					    </div>

					    <div class="contact__captcha">
					    	<div class="captcha" id="captcha"></div>
					    </div>

					    <hr>

					    <div class="contact__button">
					    	<button class="btn btn--fixed-size btn--light-transparent">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{# end landing__contact #}

	{# https://github.com/craftcms/contact-form #}

{% endblock %}


