{% extends "layout" %}

{% block content %}

    {% include "bricks/modal" %}

    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="landing__header">
					<h1 class="landing__title">{{ entry.title }}</h1>
					<hr>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="isotope button-group filters-button-group d-none d-lg-flex">
                    {% for category in craft.entries.section("galleryNavigation").level(1).all() %}
                        {% if loop.index == 1 %}
                            <button class="btn btn--auto-size btn--dark-transparent" data-filter="all">{{ category }}</button>

                        {% else %}
                            <button class="btn btn--auto-size btn--dark-transparent" data-filter="{{ category|split(' ')|slice(0, 1)|join|lower }}">{{ category }}</button>

                        {% endif %}
                    {% endfor %}
				</div>

				<div class="isotope--mobile d-block d-lg-none">
					<select class="filters-select">
                        {% for category in craft.entries.section("galleryNavigation").level(1).all() %}
                            {% if loop.index == 1 %}
                                <option value="*" selected>{{ category }}</option>

                            {% else %}
                                <option value=".{{ category|split(' ')|slice(0, 1)|join|lower }}">{{ category }}</option>

                            {% endif %}
                        {% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>

	{# galleries #}
	<section class="galleries">
		<div class="container-fluid px-0">
			<div class="row no-gutters grid">

                {% for gallery in craft.entries.section("galleryList").all() %}

                <div class="col-md-6 col-lg-4 gallery-item" data-category="{{ gallery.galleryCategory }}">
					<a href="#" class="gallery__image btn-modal-gallery" data-toggle="modal" data-target="#gallery{{ gallery.id }}">
						<div class="gallery__caption">
							<h3>{{ gallery.title }}</h3>
						</div>
						<div class="gallery--image-into-bg" style="background-image: url({{ gallery.images.one.getUrl('landscape') }})" alt="{{ gallery.galleryCategory.label }} - {{ gallery.title }}"></div>
					</a>
				</div>

                {% endfor %}
				
			</div>
		</div>
	</section>
	{# end galleries #}

{% endblock %}


